.dropdown {
  position: relative;
  cursor: pointer;
  width: 240px; // по умолчанию — большой

  &--small {
    width: 94px;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    padding: 18px 14px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
    cursor: pointer;

    .dropdown--small & {
      font-size: 14px;
      padding: 2px 5px;
    }
  }

  &__arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.6);
    transition: transform 0.2s ease;

    .dropdown--small & {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 3px solid rgba(0, 0, 0, 0.6);
    }

    &.active {
      transform: rotate(180deg);
    }
  }

  &-inner {
    visibility: hidden;
    opacity: 1;
    transition: 0.2s;

    &.active {
      visibility: visible;
    }
  }

  &__list {
    position: absolute;
    top: calc(100% + 8px);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 6px;
  }

  &__item {
    padding: 10px 14px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;

    .dropdown--small & {
      padding: 5px;
      font-size: 14px;
      display: flex;
      align-items: center;
      column-gap: 5px;
    }

    &:hover,
    &:active {
      background-color: rgb(143, 145, 147);
    }
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }
}
