.input {
  max-width: 240px;
  min-width: 110px;
  border: 1px solid #00000061;
  border-radius: 6px;
  color: #00000099;
  padding: 16px;

  &--person-edit,
  &--small {
    border: none;
    padding: 0;
    max-width: 176px;
  }

  &--small {
    max-width: 115px;
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 0;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
  }

  &__form {
    max-width: 186px;
    min-width: 101px;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
    border: none;
    outline: none;

    .input--person-edit &,
    .input--small & {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.15px;
      color: #000000de;
      border-bottom: 1px solid #000;
    }

    .input--small & {
      font-size: 14px;
      font-weight: 400;
      color: #00000099;
    }
  }
}
