.persons-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;

  &__image {
    max-width: 100%;
    min-width: 312px;
  }

  &__body {
    margin-top: 16px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    max-width: 100%;
  }
}
