.persons-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;

  &__image {
    max-width: 100%;
    min-width: 312px;
  }

  &__body {
    display: grid;
    row-gap: 28px;
    width: 100%;
  }
}
